
*$py.class
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
adapters
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
benchmarks
build/
# Byte-compiled / optimized / DLL files
.cache
celerybeat.pid
celerybeat-schedule
# Celery stuff
# C extensions
*.cover
cover/
.coverage
.coverage.*
coverage.xml
cython_debug/
# Cython debug symbols
/data
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
# Distribution / packaging
# Django stuff:
.dmypy.json
dmypy.json
docs/_build/
/downloaded_data_zips
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
env.bak/
# Environments
# Flask stuff:
#   For a library or package, you might want to ignore these files since the code is
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
htmlcov/
.hypothesis/
.idea
# IDEs
#   install all needed dependencies.
.installed.cfg
# Installer logs
instance/
#   intended to run in multiple environments; otherwise, check them in:
.ipynb_checkpoints
# IPython
ipython_config.py
# Jupyter Notebook
lib/
lib64/
local_settings.py
*.log
logs
*.manifest
MANIFEST
# mkdocs documentation
*.mo
/models
# mypy
.mypy_cache/
nosetests.xml
.nox/
parts/
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
pip-delete-this-directory.txt
# pipenv
#Pipfile.lock
pip-log.txt
*.pot
profile_default/
.pybuilder/
# PyBuilder
*.pyc
__pycache__
__pycache__/
*.py[cod]
*.py,cover
# pyenv
# PyInstaller
__pypackages__/
.pyre/
# Pyre type checker
.pytest_cache/
.Python
# .python-version
.pytype/
# pytype static type analyzer
/results
results
.ropeproject
# Rope project settings
# SageMath parsed files
*.sage.py
.scrapy
# Scrapy stuff:
sdist/
share/python-wheels/
/site
.snakemake
*.so
*.spec
# Sphinx documentation
.spyderproject
# Spyder project settings
.spyproject
target/
.tox/
# Translations
# Unit test / coverage reports
#  Usually these files are written by a python script from a template
var/
.venv
venv/
venv.bak/
.webassets-cache
/wheels
wheels/
